<launch>
    <node name="imu_tf_broadcaster" 
        pkg="fred_tf" 
        type="imu_tf.py"
        >
        
    </node>

     <node name="ultrasonic_sensor_tf_broadcaster" 
        pkg="fred_tf" 
        type="ultrasonic_tf.py"
        >

    </node>]
    
     <node name="laser_tf_brodcaster" 
        pkg="fred_tf" 
        type="lidar_tf.py"
        >

    </node>]

          
</launch>